$menu-width:                    100%;
$content-width:                 100%;
$content-height:                300px;
$margin-between-menu-groups:    5px;
$margin-between-menu-n-content: 20px;
$content-border:                1px solid rgb(204, 204, 204);
$content-bg:                    white;
$menu-bg:                       white;