@import "bootstrap";

@import "settings";

.my-editor {

  & .menu {
    width: $menu-width;
    background-color: $menu-bg;
  }

  & .menu-group {
    margin-right: $margin-between-menu-groups;

    & .btn {
      margin-right: 0;
    }

    margin-bottom: $margin-between-menu-n-content;
  }

  & .content {
    width: $content-width;
    height: $content-height;
    resize: vertical;
    overflow-y: scroll;
    background-color: $content-bg;
    border-collapse: separate;
    border: $content-border;
    padding: 4px;
    box-sizing: border-box;
    box-shadow: rgba(0, 0, 0, 0.07) 0 1px 1px 0 inset;
    border-radius: 3px;
    outline: none;
  }

  & .content:focus {
    outline: -webkit-focus-ring-color auto 5px;
  }
}