<html data-ng-app="my-editor-example-app" data-ng-strict-di="" class="ng-scope">
<head>
    <title></title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.0.0/styles/darkula.min.css">
    <link rel="stylesheet" href="css/example.css">
    <script src="js/lib.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.0.0/highlight.min.js"></script>
    <script src="http://pc035860.github.io/angular-highlightjs/angular-highlightjs.min.js"></script>
    <script src="js/my-editor-tpl.js"></script>
    <script src="js/my-editor.js"></script>
    <script src="js/app.js"></script>
</head>
<body data-ng-controller="MainCtrl">
<div class="container body-wrapper">
    <div class="row">
        <div class="col-lg-12 ver-offset-5">
            <my-editor data-ng-model="text"></my-editor>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 ver-offset-1">
            <button class="btn btn-default" data-ng-click="toggleDesign()">Toggle design</button>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 ver-offset-1">
            <div hljs hljs-source="text" language="xml">
            </div>
        </div>
    </div>
</div>
</body>
</html>